In [1]:
import pandas as pd

In [2]:
transactions = pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx", header=1 ,sheet_name = 1)

In [3]:
transactions.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,2012-12-02
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,2014-03-03
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,1999-07-20
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,1998-12-16
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,2015-08-10

In [4]:
transactions.dtypes

transaction_id                      int64
product_id                          int64
customer_id                         int64
transaction_date           datetime64[ns]
online_order                      float64
order_status                       object
brand                              object
product_line                       object
product_class                      object
product_size                       object
list_price                        float64
standard_cost                     float64
product_first_sold_date    datetime64[ns]
dtype: object

In [5]:
transactions.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [6]:
transactions.sort_values(by = ['transaction_date'])

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
516,517,77,311,2017-01-01,1.0,Approved,WeareA2B,Standard,medium,medium,1769.64,108.76,2011-05-09
5876,5877,67,138,2017-01-01,0.0,Approved,Norco Bicycles,Road,medium,medium,544.05,376.84,2005-10-22
3459,3460,64,234,2017-01-01,1.0,Approved,Giant Bicycles,Standard,high,small,1977.36,1759.85,2011-08-24
12484,12485,85,2805,2017-01-01,1.0,Approved,WeareA2B,Standard,medium,medium,1228.07,400.91,2000-05-22
19130,19131,0,1707,2017-01-01,0.0,Approved,Trek Bicycles,Road,medium,medium,290.62,215.14,2004-12-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,606,70,2878,2017-12-30,0.0,Approved,Trek Bicycles,Standard,high,medium,495.72,297.43,1999-07-26
15269,15270,3,195,2017-12-30,0.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,2012-09-15
19906,19907,41,1721,2017-12-30,0.0,Approved,Norco Bicycles,Standard,low,medium,958.74,748.90,2005-12-07
15756,15757,30,3130,2017-12-30,0.0,Approved,Solex,Standard,high,medium,748.17,448.90,1991-11-10
12003,12004,21,3283,2017-12-30,NaN,Approved,Solex,Standard,medium,large,1071.23,380.74,2011-05-07

In [7]:
transactions.online_order.value_counts()

1.0    9829
0.0    9811
Name: online_order, dtype: int64

In [8]:
transactions.order_status.value_counts()

Approved     19821
Cancelled      179
Name: order_status, dtype: int64

In [9]:
transactions.dropna(subset = ['online_order','brand'],inplace = True)

In [10]:
transactions.list_price.describe()

count    19445.000000
mean      1107.337193
std        582.662400
min         12.010000
25%        575.270000
50%       1163.890000
75%       1635.300000
max       2091.470000
Name: list_price, dtype: float64

In [11]:
transactions['profit'] = transactions['list_price'] - transactions['standard_cost']